@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mail: thanhphamlq@gmail.com<br />
    Tổ 3, khu phố Ngọc An Đông, Hoài Thanh Tây<br />
    <abbr title="Phone">Phone:</abbr>
    0866041225
</address>
